VITE_SUPABASE_URL=https://xktmwzqqlbkymlsavutn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhrdG13enFxbGJreW1sc2F2dXRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQwMzEzNTEsImV4cCI6MjA3OTYwNzM1MX0.vVxA-ajZxykRnKpahyyA99ccEvyWn_TIhV1fT_Mp4vE